@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    width:100vw;
    height:100vh;
    padding:0;
    margin:0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    color:rgb(101, 94, 122)
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}

/* start of navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 40px;
}
.nav-links{
    display: flex;
}
.nav-links li{
    margin-right: 30px;
}
.nav-links li a {
    color: rgb(101, 94, 122);
}
.mobile-menu{
    display: none;
    transition: all 0.6s ease;
}
/* end of navbar */
/* start of header */
header{
    color:whitesmoke;
    background-image: linear-gradient( rgba(101,94,122,0.5), rgba(101,94,122,0.5)) ,url('../images/slider-bg.jpg');
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed;
    min-height: 110vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    padding-bottom:150px;
    text-align: center;
}
header .header-content{
    width:50%;
}
h1{
    font-size: 7vmin;
}
p{
    font-size:3vmin;
    margin-bottom:40px;
}
.ctn{
    background-color: rgb(101, 94, 122);
    padding:15px 23px;
    color:whitesmoke;
    display:inline-block;
}
a{
    text-decoration:none;
}
.menu-btn{
    display: none;
}
.active{
    color:rgb(101, 94, 122);
    font-weight:bold;
}

/* end of header */
/* start of about us */
.about-us{
    height:100vh;
    width:100vw;
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 5vmin;
}
/* end of about us */
/* start of great ideas */
.great-ideas{
    width:100vw;
    min-height:100vh;
    padding:10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url('../images/featue-bg.png');
    background-size: 120% 150%;
    background-position: 10% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:black;
    font-size: 5vmin;
}
.great-ideas .ideas-content{
    width:50%
}

/* end of great ideas */
/* start of services */
.services{
    text-align: center;
    padding:10vh 5vh;
    font-size: 3.5vmin;
    color:black;
}
.services .services-text{
    padding:2vh 17%;
}
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services .services-content figure{
    width:23%;
    margin:0;
}
.services .services-content figure i{
    font-size: 7vmin;
    color:rgb(101, 94, 122)
}
/* end of services */
/* start of facts */
.facts{
    text-align: center;
    padding:10vh 10vw;
    color:black;
}
.facts p{
    color:#777;
}
.facts .facts-text{
    padding:5vh 13vw;
}
.facts .facts-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.facts .facts-content .statistics{
    width:50%;
    display: flex;
    flex-wrap: wrap;
    font-size: 4vmin;
    justify-content: space-around;
}
.statistics h3{
    margin:10px;
    padding: 0;
}
.facts .facts-content .statistics figure{
    width:44%;
    margin:0;
}
.facts .facts-content article{
    width:30%;
    border: 1px solid #eee;
    padding: 30px 15px;
}
.facts .facts-content article img{
    width:90px;
    height: 90px;
    border-radius: 50%;
}
.facts .facts-content article i{
    font-size: 7vmin;
}
/* end of facts */
footer{
    text-align: center;
    padding:30px;
    border-top:1px solid #eee
}
@media only screen and (max-width:850px){
    /* navbar */
    nav{
        display: block;
        padding: 10px;
    }
    .menu-btn{
        position: absolute;
        top:0;
        right:12px;
        background-color: black;
        display: block;
    }
    .mobile-toggle{
        display: none;
    }
    .nav-links{
        flex-direction: column;
        width: 95%;
    }
    .nav-links li{
        margin:15px auto;
    }
    .mobile-menu{
        display: none;
        transition: all 0.6s ease;
    }
    
    /* header */
    header .header-content{
        width:85%;
    }

   /* about us */
   .about-us{
        display: block;
        padding:20px;
        text-align: center;
   }
   .about-us figure{
    padding: 0;
    margin:0
   }
   .about-us img{
    width:90%
   }

   .great-ideas .ideas-content{
    width:90%
    }
    .great-ideas{
        background-size: cover;
    }
    /* start of services */

    .services .services-text{
        padding:2vh 5%;
    }
    .services .services-content figure{
        width:90%;
    }
    /* end of services */
    /* start of facts */
    .facts{
        padding:5vh 3vw;
    }
    .facts p{
        color:#777;
    }
    .facts .facts-text{
        padding:2vh 5vw;
    }
    .facts .facts-content .statistics{
        width:90%;
    }
    .facts .facts-content article{
        width:90%;
    }
    /* end of facts */
}